<!DOCTYPE html>
<html lang="en">
  <%-include ('./partials/head.ejs') %> 
<body id="body">
<%-include('./partials/header.ejs')  %> 
<div class="container">

  <div class="card-columns row row-cols-3">
    <% if (items.length > 0) { %>
      <% for( let i = 0; i < items.length; i++ ) { %>
        <div class="card col">
          <a href="/<%= href %>/<%= items[i]._id %>"><img class="card-img-top item" src="<%= items[i].img %>" alt="Card image cap"></a>
          <div class="card-body item">
            <h5 class="card-title item-name"> <a href="/<%= href %>/<%= items[i]._id %>"><%=items[i].itemName%></a></h5>
            <p class="card-text item-description"><%= items[i].description %></p>
            <p class="card-text item-cost"><%= items[i].cost %></p>
          </div>
        </div>
      <% } %>
    <% } %>
  </div>

</div>

<%-include('./partials/footer.ejs') %>
</body>
</html>